
#realisations_bloc {
	width: 100%;
	margin: 5% 0;
	padding-top: 1%;
	height: auto;
	background-color: $main-color6;
	border-radius: 4px;
}

#title {
	width: 100%;
	height: auto;
	position: relative;
	margin-top: left;
	margin-right: left;
	text-decoration: center;
	h4 {
		color: $main-color2;
	}
}

#txt_realisations {
	width: 100%;
	height: auto;
}

#modal_realisations {
	width: 100%;
	height: auto;
}

/* catégories réalisations */

p.modal_services {
	text-align: center;
	}




.categories {
	width: 100%;
	height: auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	padding-left: 0;
	margin: 0;
	background-color: $main-color5;
}

.categories a:link {
	color: $main-color6;
}

.categories a:visited {
	color: $main-color6;
}

.categories a:hover {
	color: $main-color4;
}

.categories a:active {
	color: $main-color6;
}

.categories a:focus {
	color: $main-color6;
}

a {
	text-decoration: none;
	color: $main-color3;
}

#une {
	border-right: none;
	img {
		display: block;
	}
}

#motion {
	border-right: none;
}

#web {
	border-right: none;
}

/* Les travaux bloc03*/
img {
	max-width: 100%;
}

.travaux {
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: $main-color2;
}

.border {
	width: 25%;
	height: auto;
	background-color: $main-color2;
	img {
		filter: grayscale(0%);
  		transition: .2s ease-in;
  		text-align: center;
}
	img:hover {
		opacity: 60%;
  		transition: .2s ease-in;
}
}


body.modal-open {
    overflow: hidden;
    position: fixed;
}

/* Responsive tablette
/*=====================================*/

@media (max-width: 1100px) {

  .border {
  	width: 50%;
  }

  #realisations_bloc {
  	margin: 3% 0;
  	padding-top: 3%;
  }

.categories ul li {
	width: 50vw;
}


}


/* Responsive smartphone */

@media (max-width: 562px) {

  .border {
  	width: 100%;
  }

  .categories {
  	display: block;
  }
}

